
#box {
    background-color: rgb(166, 179, 193);
    color: whitesmoke;
    font-size: 17px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 148px;
    padding: 10px;
    border: 1px solid gainsboro;
}


#title {
    background-color: white; 
    color: rgb(0, 0, 0, 0.8);
    font-family: Arial, sans-serif;
    width: 250px;
    height: 90px;
    padding: 10px;
    border: 1px solid gainsboro;
}


#title p {
    line-height: 20px;
    margin-top: 5px;
    font-size: 16px;
}



#title span {
    display: inline;
    font-weight: bold;
    font-size: 18px;
}

#title span + #title p {
    margin-top: 10px;
}

.item {
    background-color: white;
    color: rgb(0, 0, 0, 0.8);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 250px;
    height: 20px;
    padding: 10px;
    border: 1px solid gainsboro;
}


#link {
    background-color: white;
    color: rgb(0, 0, 0, 0.8);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 250px;
    height: 30px;
    padding: 10px;
    border: 1px solid gainsboro;
}

nav span {
    margin-right: 15px;
}
